// Responsive Grid System Styles
// -----------------------------------------------------------------------------
$grid-columns: 12;

.row {
  margin: 0 -.6rem 1.2rem;
  zoom: 1;

  @include min-width-l {
    &_wide {
      margin: 0 -1.2rem;
    }
  }

  &_noMarginBottom {
    margin-bottom: 0;
  }

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.column {
  float: left;
  min-height: .1rem;
  padding: 0 .6rem;

  &_mb12 {
    margin: 0 0 1.2rem;
  }

  @include min-width-l {
    .row_wide & {
      padding: 0 1.2rem;
      margin: 0 0 2.4rem;
    }
  }
}

@include generate-columns($grid-columns);

@include min-width-xs {
  @include generate-columns($grid-columns, 'xs');
}

@include min-width-s {
  @include generate-columns($grid-columns, 's');
}

@include min-width-m {
  @include generate-columns($grid-columns, 'm');
}

@include min-width-l {
  @include generate-columns($grid-columns, 'l');
}

@include min-width-xl {
  @include generate-columns($grid-columns, 'xl');
}

@include min-width-xxl {
  @include generate-columns($grid-columns, 'xxl');
}
