html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  background-color: #fff;
}

.wrapper {
  width: 100%;
  min-width: 32rem;
  padding: 5.2rem 0 0;
  background: #f1f4f6;
  min-height: 100vh;

  @include min-width-l {
    padding: 6rem 0 0;
  }
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 5.2rem;
  background: #fafbfc;
  border-bottom: .1rem solid rgba(4, 9, 20, .1);

  @include min-width-l {
    height: 6rem;
  }
}

.content {
  padding: 0;

  @include min-width-l {
    padding: 0 0 0 28rem;
  }
}

.container {
  padding: 0 .6rem;

  @include min-width-s {
    padding: 0 1.2rem;
  }

  @include min-width-m {
    padding: 0 2.4rem;
  }
}

.title {
  margin: 2.4rem 0;
  padding: 2.4rem;
  border-radius: .3rem;
  border-bottom: .1rem solid #e9ecef;
  background-image: linear-gradient(to right, #434343 0%, #000 100%) !important;
  color: #fff;

  &-icon {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    margin: 0 3rem 0 0;
    border-radius: 100%;
    text-align: center;
    padding: 1.2rem .6rem;
    background: #fff;
    font-size: 3rem;
    line-height: 3.6rem;
  }

  &-heading {
    display: inline-block;
    vertical-align: bottom;
    font-size: 2rem;
    font-weight: 400;
  }

  &-subheading {
    display: block;
    font-size: 1.4rem;
    font-weight: 200;
    opacity: .6;
  }
}

.clearFix {

  &::after,
  &::before {
    content: '';
    display: block;
    clear: both;
  }
}

.svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  fill: currentColor;
}

.icon {
  &_gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%) !important;
    -webkit-font-smoothing: antialiased;

    &_dark {
      background-image: linear-gradient(120deg, #121212 0%, #d57eeb 100%) !important;
    }
  }
}
