@import '../../../../../scss/mixins/breakpoints';

.digit {
  display: inline-block;
  height: 6rem;
  font-size: 6rem;
  width: 5rem;
  overflow: hidden;
  margin: 0 .2rem;
  background: #aab9c8;
  padding: 0 .6rem;
  text-align: center;

  @include min-width-m {
    height: 7.2rem;
    font-size: 7.2rem;
    width: 6rem;
  }

  &-box{
    line-height: 6rem;

    @include min-width-m {
      line-height: 7.2rem;
    }
  }
}

@keyframes slide {
  from {
    transform: translateY(-10em);
  }

  to {
    transform: translateY(0);
  }
}
